*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

 body{
    margin: 20px auto; ;
    width: 100%;
    height: auto;
    background-color: rgb(198, 235, 224);
 }
.logo {
    display: flex;
    color: rgb(221, 205, 205);
    font-size: 3em;
    text-shadow: 10px 10px 10px;
}
.logo span{
    color: rgb(84, 75, 75);
    
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(122, 145, 145);
    height: 80px;
    padding: 0px 50px 0px 50px;
    border-radius: 10px;
    box-shadow: 10px 10px 50px -20px;

}
nav ul{
    display: flex;
    list-style: none;
    gap: 40px;
    font-size: 24px;
    text-shadow: 15px 15px 30px;
    transition: all 0.3s ease;

    
}
#click{
display: none;


}
nav ul li a{
    color: rgb(253, 253, 253);
    text-decoration: none;
    font-size: 32px;
    margin: 5px;
    border-radius: 8px;
    padding: 8px 20px;
}
.hamburger{
    display: none;

}
nav ul li a:hover,
nav ul li a.active{
    color: black;
    background:rgb(182, 167, 53) ;
    

}
h1{ 
    display:flex;
    font-size: 4em;
    align-items: center;
    margin: 100px;
    padding: 50px;
}
@media (max-width: 767px) {
    #click:checked ~ .hamburger i::before{
        content: "\f00d";
    }
    nav{ 
        width: 90%; 
        margin: 20px auto; 
     }
    nav ul{
        display: block;
        position: fixed;
        top: 120px;
        left: -100%;
        margin-left: 30px;
        height: 40vh;
        width: 40%;
        align-items: center;
        transform: all 0.3s ease;
        background: rgb(112, 151, 146);
        border-radius: 20px;    
        
    }
    #click:checked ~ ul{
        left:0%;
    }
    nav ul li {
        margin: 40px 0px;
    }
    nav ul li a{
        font-size: 24px;
        display: block;
        margin-left: 20px;
        
    }

    nav ul li a:hover,
    nav ul li a.active{
        color: rgb(21, 21, 21);
        background: none;}

        .hamburger{
            display: block;
            font-size: 50px;
            padding: 20px 20px;
            cursor: pointer;
            color: rgb(163, 211, 223);
        }  
         h1{ 
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 40px 100px;
            padding: 10px;
        }  
}












